<div class="content-padding">
	<h2>Глобал-Тендер</h2>
	{% if not request.user.is_authenticated %}
		<p>Для продолжения работы необходима авторизация:</p>
		{% if errors %}
			{% for error in errors %}
				<span class="red">{{ error }}</span><br />
			{% endfor %}
		{% endif %}
		<div>
			<form method="POST" action="/" class="auth-form">
				<label>Имя пользователя: </label><input type="text" name="username"><br />
				<label>Пароль: </label><input type="password" name="password"><br />
				<input type="submit" value="Авторизоваться"><br />
			</form>
		</div>
	{% else %}
		{% if regions %}
			{% if errors %}
				{% for error in errors %}
					<span class="red">{{ error }}</span><br />
				{% endfor %}
			{% else %}
				<form name="regions" method="POST" action="/">
					<h3>Регион:</h3>
					<select name="region">
						{% for region,code in regions %}
							<option value="{{ code }}" name="region_val">{{ region }}</option>
						{% endfor %}
					</select>

					<h3>ФЗ:</h3>
					<select name="fz" class="fz">
						<option value="FZ_223" name="fz_val">№ 223-ФЗ</option>
						<option value="FZ_94" name="fz_val">№ 44-ФЗ (94-ФЗ)</option>
						<option value="EVERYWHERE" name="fz_val">№ 44-ФЗ (94-ФЗ) и № 223-ФЗ</option>
					</select>
					<br />
					<input type="submit" value="Получить контакты организаций" name="request_contacts_of_region" class='submit_org_list'>
				</form>
				<div class="waiting"></div>
			{% endif %}
		{% endif %}

		{% if contacts %}
			{% if errors %}
				{% for error in errors %}
					<span class="red">{{ error }}</span><br />
				{% endfor %}
			{% elif pages_errors %}
				{% for error in pages_errors %}
					<span class="red">{{ error }}</span><br />
				{% endfor %}
			{% elif contact_errors %}
				{% for error in contact_errors %}
					<span class="red">{{ error }}</span><br />
				{% endfor %}
			{% elif xlsx_errors %}
				{% for error in xlsx_errors %}
					<span class="red">{{ error }}</span><br />
				{% endfor %}
			{% else %}
				<table>
				{% for contact,details in contacts.iteritems %}
					<tr>
					{% for detail_key,detail_value in details.iteritems %}
						<td>{{detail_value}}</td>
					{% endfor %}
					</tr>
				{% endfor %}
				</table>
				<br /><br /><a href="/clear/">Сброс</a>

			{% endif %}
		{% endif %}

		<br /><br /><a href="/logout/">Выйти</a>
	{% endif %}
</div>
<script>
	$('.submit_org_list').click(function() {
		$('.waiting').html('<p>Ожидайте генерации файла, может занять более 1-ой минуты...</p>')
	});
</script>