
<div class="container">

	<h2>Глобал-Тендер: Контакты организаций</h2>


	{% if errors %}
		{% for error in errors %}
			<span class="red">{{ error }}</span><br />
		{% endfor %}
	{% endif %}



	{% if not request.user.is_authenticated %}

		<p>Для продолжения работы необходима авторизация:</p>
		<div>
			<form method="POST" action="/" class="auth-form">
				<label>Имя пользователя: </label><input type="text" name="username"><br />
				<label>Пароль: </label><input type="password" name="password"><br />
				<input type="submit" value="Авторизоваться"><br />
			</form>
		</div>

	{% else %}

		{% if request.method == 'GET' %}
			<form name="filter" method="POST" action="/" class="filter-form">

				<h3>Регион:</h3>
				<select name="region">
					{% for region in regions %}
						<option value="{{ region.region_code }}" name="region_value">{{ region.region_name }}</option>
					{% endfor %}
				</select>

				<h3>ФЗ:</h3>
				<select name="fz" class="fz">
					<option value="FZ_223" name="fz_value">№ 223-ФЗ</option>
					<option value="FZ_94" name="fz_value">№ 44-ФЗ (94-ФЗ)</option>
				</select>
				<br />

				<h3>Уровень организации</h3>
				<select name="org_level" class="org_level">
					<option value="any" name="org_level_value">Любой</option>
					<option value="F" name="org_level_value">Федеральный уровень</option>
					<option value="S" name="org_level_value">Уровень субъекта РФ</option>
					<option value="M" name="org_level_value">Муниципальный уровень</option>
					<option value="NOT_FSM" name="org_level_value">Иное</option>
				</select>
				<br /><br />

				<input type="submit" value="Получить контакты организаций" name="request_contacts_by_filter" class='submit_org_list'>
			</form>

			<div class="information">
				<p>Уведомления:</p>
				<p></p>
				<p>Контакты организаций по Ставропольскому краю еще собраны не все.</p>
				<p>Последний этап: 44-ФЗ, Муниципальный уровень.</p>
			</div>
			<div class="waiting"></div>

		{% else %}

			{% if xlsx_file %}
				<p><a href="/static/xlsx/{{xlsx_file}}">Скачать XLSX файл с контактами</a> ( количество организаций: {{amount_orgs}} )</p>
				<p>Выбранный фильтр:</p>
				<p>Регион: {{selected_region.region_name}}</p>
				<p>ФЗ: {{selected_fz}}</p>
				<p>Уровень организации: {{selected_level}}</p>
			{% endif %}

		{% endif %}

		<br /><br /><a href="/clear/">Сброс</a>
		<br /><br /><a href="/logout/">Выйти</a>

	{% endif %}

</div>

<script>
	$('.submit_org_list').click(function() {
		$('.waiting').html('<p>Генерация файла...</p>')
	});
</script>